<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icon</key>
	<string>TemplateIcon</string>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Identifier</key>
	<string>com.applicaster.fullscreenplugin</string>
	<key>Description</key>
	<string>This template provides a starting point for a new Zapp Full Screen plugin</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Plugin Auther Email</string>
			<key>Description</key>
			<string>The email address of the plugin auther.</string>
			<key>Identifier</key>
			<string>autherEmail</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Plugin Description</string>
			<key>Description</key>
			<string>A short description about your plugin.</string>
			<key>Identifier</key>
			<string>description</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Plugin Identifier</string>
			<key>Description</key>
			<string>The plugin identifier, should be the same for the different platforms.</string>
			<key>Identifier</key>
			<string>identifier</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Plugin Git URL</string>
			<key>Description</key>
			<string>The plugin Git URL, the URL of the Git repostory</string>
			<key>Identifier</key>
			<string>giturl</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../Podfile</string>
		<string>../___PACKAGENAME___.podspec</string>
		<string>../PluginClasses/Zapp___PACKAGENAME___Adapter.swift</string>
		<string>ViewController.swift</string>
		<string>Base.lproj/Main.storyboard</string>
		<string>plugin_configurations.json</string>
		<string>plugin_manifest.json</string>
	</array>
	<key>Definitions</key>
    <dict>
		<key>Base.lproj/Main.storyboard</key>
            <dict>
                <key>Path</key>
                <string>Base.lproj/Main.storyboard</string>
            </dict>
		<key>ViewController.swift</key>
            <dict>
                <key>Path</key>
                <string>ViewController.swift</string>
            </dict>
		<key>../PluginClasses/Zapp___PACKAGENAME___Adapter.swift</key>
            <dict>
				<key>TargetIndices</key>
				<array/>
  				<key>Group</key>
  				<array>
    				<string>PluginClasses</string>
  				</array>
                <key>Path</key>
                <string>PluginClasses/Zapp___PACKAGENAME___Adapter.swift</string>
            </dict>
        <key>../Podfile</key>
            <dict>
				<key>TargetIndices</key>
				<array/>
  				<key>Group</key>
  				<array>
    				<string>Zapp-Resources</string>
  				</array>
				<key>Path</key>
                <string>Podfile</string>
            </dict>
		<key>../___PACKAGENAME___.podspec</key>
            <dict>
				<key>TargetIndices</key>
				<array/>
  				<key>Group</key>
  				<array>
    				<string>Zapp-Resources</string>
  				</array>
				<key>Path</key>
                <string>___PACKAGENAME___.podspec</string>
            </dict>
		<key>plugin_configurations.json</key>
            <dict>
				<key>Group</key>
  				<array>
    				<string>Zapp-Resources</string>
  				</array>
                <key>Path</key>
                <string>plugin_configurations.json</string>
            </dict>
		<key>plugin_manifest.json</key>
            <dict>
				<key>TargetIndices</key>
				<array/>
				<key>Group</key>
  				<array>
    				<string>Zapp-Resources</string>
  				</array>
                <key>Path</key>
                <string>plugin_manifest.json</string>
            </dict>
    </dict>
</dict>
</plist>
